.dark-high-contrast {
  --md-sys-color-primary: rgb(255 236 234);
  --md-sys-color-surface-tint: rgb(255 179 172);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(255 174 166);
  --md-sys-color-on-primary-container: rgb(34 0 1);
  --md-sys-color-secondary: rgb(255 236 234);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(255 174 166);
  --md-sys-color-on-secondary-container: rgb(34 0 1);
  --md-sys-color-tertiary: rgb(255 237 221);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(240 184 118);
  --md-sys-color-on-tertiary-container: rgb(20 9 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(29 16 15);
  --md-sys-color-on-background: rgb(247 221 218);
  --md-sys-color-surface: rgb(29 16 15);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(89 65 62);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(255 236 234);
  --md-sys-color-outline-variant: rgb(221 187 183);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(247 221 218);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(145 15 22);
  --md-sys-color-primary-fixed: rgb(255 218 214);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 179 172);
  --md-sys-color-on-primary-fixed-variant: rgb(45 0 2);
  --md-sys-color-secondary-fixed: rgb(255 218 214);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(255 179 172);
  --md-sys-color-on-secondary-fixed-variant: rgb(45 0 2);
  --md-sys-color-tertiary-fixed: rgb(255 221 185);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(245 188 122);
  --md-sys-color-on-tertiary-fixed-variant: rgb(28 14 0);
  --md-sys-color-surface-dim: rgb(29 16 15);
  --md-sys-color-surface-bright: rgb(94 76 74);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(42 28 27);
  --md-sys-color-surface-container: rgb(60 45 43);
  --md-sys-color-surface-container-high: rgb(72 55 54);
  --md-sys-color-surface-container-highest: rgb(84 67 65);
  --md-extended-color-custom-color1-color: rgb(255 236 228);
  --md-extended-color-custom-color1-on-color: rgb(0 0 0);
  --md-extended-color-custom-color1-color-container: rgb(255 176 134);
  --md-extended-color-custom-color1-on-color-container: rgb(26 6 0);
  --md-extended-color-custom-color2-color: rgb(255 235 242);
  --md-extended-color-custom-color2-on-color: rgb(0 0 0);
  --md-extended-color-custom-color2-color-container: rgb(255 168 213);
  --md-extended-color-custom-color2-on-color-container: rgb(31 0 19);
  --md-extended-color-custom-color3-color: rgb(255 236 234);
  --md-extended-color-custom-color3-on-color: rgb(0 0 0);
  --md-extended-color-custom-color3-color-container: rgb(255 174 167);
  --md-extended-color-custom-color3-on-color-container: rgb(34 0 1);
}
