.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 210 205);
  --md-sys-color-surface-tint: rgb(255 179 172);
  --md-sys-color-on-primary: rgb(84 0 5);
  --md-sys-color-primary-container: rgb(247 92 85);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 210 205);
  --md-sys-color-on-secondary: rgb(75 15 14);
  --md-sys-color-secondary-container: rgb(210 119 112);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 213 168);
  --md-sys-color-on-tertiary: rgb(57 32 0);
  --md-sys-color-tertiary-container: rgb(185 135 74);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(29 16 15);
  --md-sys-color-on-background: rgb(247 221 218);
  --md-sys-color-surface: rgb(29 16 15);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(89 65 62);
  --md-sys-color-on-surface-variant: rgb(248 212 208);
  --md-sys-color-outline: rgb(204 170 167);
  --md-sys-color-outline-variant: rgb(168 137 134);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(247 221 218);
  --md-sys-color-inverse-on-surface: rgb(53 38 37);
  --md-sys-color-inverse-primary: rgb(145 15 22);
  --md-sys-color-primary-fixed: rgb(255 218 214);
  --md-sys-color-on-primary-fixed: rgb(45 0 2);
  --md-sys-color-primary-fixed-dim: rgb(255 179 172);
  --md-sys-color-on-primary-fixed-variant: rgb(115 0 10);
  --md-sys-color-secondary-fixed: rgb(255 218 214);
  --md-sys-color-on-secondary-fixed: rgb(45 0 2);
  --md-sys-color-secondary-fixed-dim: rgb(255 179 172);
  --md-sys-color-on-secondary-fixed-variant: rgb(98 32 29);
  --md-sys-color-tertiary-fixed: rgb(255 221 185);
  --md-sys-color-on-tertiary-fixed: rgb(28 14 0);
  --md-sys-color-tertiary-fixed-dim: rgb(245 188 122);
  --md-sys-color-on-tertiary-fixed-variant: rgb(79 47 0);
  --md-sys-color-surface-dim: rgb(29 16 15);
  --md-sys-color-surface-bright: rgb(82 64 63);
  --md-sys-color-surface-container-lowest: rgb(15 5 4);
  --md-sys-color-surface-container-low: rgb(40 26 25);
  --md-sys-color-surface-container: rgb(51 36 35);
  --md-sys-color-surface-container-high: rgb(63 47 45);
  --md-sys-color-surface-container-highest: rgb(74 58 56);
  --md-extended-color-custom-color1-color: rgb(255 211 190);
  --md-extended-color-custom-color1-on-color: rgb(67 25 0);
  --md-extended-color-custom-color1-color-container: rgb(216 119 62);
  --md-extended-color-custom-color1-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color2-color: rgb(255 207 229);
  --md-extended-color-custom-color2-on-color: rgb(78 0 54);
  --md-extended-color-custom-color2-color-container: rgb(219 105 171);
  --md-extended-color-custom-color2-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color3-color: rgb(255 210 206);
  --md-extended-color-custom-color3-on-color: rgb(84 0 6);
  --md-extended-color-custom-color3-color-container: rgb(247 92 86);
  --md-extended-color-custom-color3-on-color-container: rgb(0 0 0);
}
