.light-medium-contrast {
  --md-sys-color-primary: rgb(93 0 6);
  --md-sys-color-surface-tint: rgb(178 42 41);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(134 3 15);
  --md-sys-color-on-primary-container: rgb(255 201 196);
  --md-sys-color-secondary: rgb(98 32 29);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(167 85 79);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(63 36 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(93 56 0);
  --md-sys-color-on-tertiary-container: rgb(255 205 148);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 247);
  --md-sys-color-on-background: rgb(38 24 23);
  --md-sys-color-surface: rgb(255 248 247);
  --md-sys-color-on-surface: rgb(26 14 13);
  --md-sys-color-surface-variant: rgb(255 218 214);
  --md-sys-color-on-surface-variant: rgb(71 48 46);
  --md-sys-color-outline: rgb(102 76 74);
  --md-sys-color-outline-variant: rgb(131 102 100);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(60 45 43);
  --md-sys-color-inverse-on-surface: rgb(255 237 235);
  --md-sys-color-inverse-primary: rgb(255 179 172);
  --md-sys-color-primary-fixed: rgb(198 57 54);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(164 31 33);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(167 85 79);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(137 62 56);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(145 100 42);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(117 76 20);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(218 193 190);
  --md-sys-color-surface-bright: rgb(255 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 239);
  --md-sys-color-surface-container: rgb(253 226 223);
  --md-sys-color-surface-container-high: rgb(241 215 212);
  --md-sys-color-surface-container-highest: rgb(229 204 201);
  --md-extended-color-custom-color1-color: rgb(93 38 0);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(139 61 3);
  --md-extended-color-custom-color1-on-color-container: rgb(255 245 241);
  --md-extended-color-custom-color2-color: rgb(68 0 46);
  --md-extended-color-custom-color2-on-color: rgb(255 255 255);
  --md-extended-color-custom-color2-color-container: rgb(105 2 74);
  --md-extended-color-custom-color2-on-color-container: rgb(255 172 214);
  --md-extended-color-custom-color3-color: rgb(93 0 7);
  --md-extended-color-custom-color3-on-color: rgb(255 255 255);
  --md-extended-color-custom-color3-color-container: rgb(134 3 16);
  --md-extended-color-custom-color3-on-color-container: rgb(255 201 196);
}
