body{
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    direction: rtl;
}

button {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
}

a {
  color: var(--md-sys-color-secondary);
  text-decoration: none;
}

form {
  background-color: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface);
  border: 1px solid var(--md-sys-color-outline-variant);
}

footer {
  background-color: var(--md-sys-color-surface-container-high);
  color: var(--md-sys-color-on-surface);
  border-top: 1px solid var(--md-sys-color-outline-variant);
  border-radius: 10px;
}

