 <footer>
  <div class="footer-content">
    <div class="footer-section about">
      <img src="/components/images/logo.png" alt="Epic Hunter Logo" class="footer-logo">
      <p>Epic Hunter - خدمات تست نفوذ و امنیت وب</p>
    </div>

    <div class="footer-section links">
      <h3>لینک‌های سریع</h3>
      <ul>
        <li><a href="/index.html">خانه</a></li>
        <li><a href="/pages/aboutUs.html">درباره ما</a></li>
        <li><a href="/pages/services.html">خدمات</a></li>
        <li><a href="/pages/callUs.html">تماس با ما</a></li>
      </ul>
    </div>

    <div class="footer-section contact">
      <h3>ارتباط با ما</h3>
      <p>support@epichunter.com 📧 </p>
      <p>+98 900 000 0000 📞 </p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-telegram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    © 2025 Epic Hunter — تمامی حقوق محفوظ است.
  </div>
</footer>